MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=sentinel_db
JWT_SECRET=change_this_to_a_random_secret_key_in_production
PORT=8000
ENVIRONMENT=development
